<div class="row">
  <div class="col-md-6 col-division">
    <article class="site-summary">
      <header>
        <%= image_tag "logo.png", class: "pull-right main-vert-logo" %>
      </header>
      <p class="pull-right text-right">
        Hi! We are software developers and we want to help animals, the environment and
        people. We're selling some of our time for any 
        <%= link_to 'nonprofit organizations', 'http://en.wikipedia.org/wiki/Nonprofit_organization', { target: '_blank' } %> that
        need any asistence related to software development and/or maintenance for how much
        they can pay, including nothing. If you want to help you are welcome to join us.
      </p>
      <footer>
        <%= link_to(about_path, class: 'btn btn-info') do %>
          <i class="fa fa-plus"></i>
          Know more
        <% end %>
      </footer>
    </article>
  </div>
  <div class="col-md-6 col-divided">
    <div class="row">
      <article class="access access-dev">
        <header>
          <h1>I'm a <strong>software developer</strong> willing to help</h1>
        </header>
        <p>
          I can contribute as a programmer, web designer, UX designer, tester or with
          any other techy stuff that a nonprofit organization wouldn't be into.
        </p> 
        <footer>
          <%= link_to(developer_omniauth_authorize_path(:github), class: 'btn btn-action') do %>
            <i class="fa fa-github-alt"></i> <span>Sign in with GitHub</span>
          <% end %>
        </footer>
      </article>
    </div>
    <div class="row">
      <article class="access access-org">
        <header>
          <h1>I'm a <strong>nonprofit organization</strong> needing help</h1>
        </header>
        <p>
          I'm involved with a nonprofit organization or I'm just a good human being
          helping others and I need help with techy
          stuff that I'm not into.
        </p>
        <footer>
          <%= link_to(new_organization_registration_path, class: 'btn btn-info') do %>
            <i class="fa fa-chevron-right"></i>
            Sign up
          <% end %>
          <%= link_to(new_organization_session_path, class: 'btn btn-action') do %>
            <i class="fa fa-chevron-right"></i>
            Sign in
          <% end %>
        </footer>
      </article>
    </div>
  </div>
</div>
<p class="pull-right" style="margin-top: 30px; color: red; font-size: 30px;">This project is under development, its data <strong>will</strong> be erased before its release</p>
