<!DOCTYPE html>
<html>
  <head>
    <title>Altruist developer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="main">
      <h1><%= link_to 'Altruist developer', root_path %></h1>
      <nav class="navbar">
        <% if organization_signed_in? %>
          <%= link_to 'Ask for a project', new_project_path, class: 'btn btn-primary navbar-btn btn-lg' %>
        <% end %>
      </nav>
    </header>
    <div class="container page">
      <%= yield %>
    </div>
    <p>
      <% if signed_in?%>
        <%= signed_in_user_email %>
      <% else %>
        Guest
      <% end %>
    </p> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
